parameters:
    level: max
    paths:
        - src
        - modules
        - config
        - public
    excludePaths:
        - vendor
        - build
        - data
        - logs
        - var
    ignoreErrors:
        -
            identifier: missingType.iterableValue
        -
            identifier: missingType.generics
    reportUnmatchedIgnoredErrors: false
