{% extends '@layout/default.html.twig' %}

{% block title %}{{ status }} {{ reason }}{% endblock %}
{% block canonical %}{% endblock %}

{% block content %}
    <div class="page-intro home-intro error-messages">
        <div class="container">
            <h2>Oops!</h2>
            <h2>This is awkward.</h2>
            <h1>{{ status }}</h1>
            <h2 class="message">{{ reason }}</h2>
        </div>
    </div>
{% endblock %}
